<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Sing Up with us</h1>

	<div>
		<form action="#" th:action="@{/singup/adduser}" method="post">
			<input name="name" type="text" placeholder="---Enter Your Name---">
			<input name="email" type="email"
				placeholder="----Enter you Email-----"> <input
				name="password" type="password"
				placeholder="----Create Password-----">
			<button type="submit">Sing up</button>
		</form>
	</div>

</body>
</html>