<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<style>
h1 {
	margin-top: 4%;
}

input {
	width: 60%;
	height: 3em;
	margin: 2px;
	font-size: 30px;
}

textarea {
	width: 60%;
	height: 18vw;
}

label {
	font-size: 20px;
	margin-right: 10em;
}

button {
	font-size: 20px;
	width: 60%;
	background-color: blue;
	padding: 0.5em;
}
</style>
	<form action="#" th:action="@{/posts/{id}/{details}/update/storenewpost(id = ${post.getId()})}" style="text-align: center;"
		autocomplete="off" method="post">
		<h1>Write your blog post</h1>
		<input th:value="${post.getTitle()}" type="text" name="title" placeholder="Enter Title"
			required="required"><br>
		<textarea th:utext = "${#strings.replace(post.getContent(),'<br>','&#10;')}" name="content" rows="15" cols="28"
			placeholder="Write blog here" required="required"></textarea>
		<br> <input th:value = "${post.getAuthor()}" type="text" name="author" placeholder="Auhor name"
			required="required"><br>



		<div>
			<input th:value="${tags}" type="text" list="tags" name="tagsname" multiple="multiple"
				placeholder="example : #tag1, #tag2">

			<datalist id="tags">
				<option th:each="tag : ${listOfTags}" th:text="${tag}">
			</datalist>
		</div>
		<input type="radio" id="save" name="postType" value="save"
			required="required">   <label for="save">save</label> <input
			type="radio" id="publish" name="postType" value="publish"> <label
			for="publish">publish</label><br>
		<button type="submit">submit</button>
	</form>
</body>
</html>